@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(257, 40%, 49%);
  background-image: url("./images/bg-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
}

a {
  color: bisque;
  text-decoration: none;
  font-weight: bold;
}

button {
  margin-top: 1rem;
  border: none;
  outline: none;
  padding: 0.8rem 3.2rem;
  border-radius: 25px;
  color: hsl(257, 40%, 49%);
}

.container {
  max-width: 1200px;
  margin: 2rem 4rem;
}

header img {
  width: 160px;
}

.content {
  width: 100%;
  display: flex;
  margin-top: 3.4rem;
}

.content .left img {
  width: 600px;
}

.content .right {
  max-width: 450px;
  font-family: "Poppins", sans-serif;
  margin: 2.8rem 2.5rem;
}

.content .right h1 {
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.content .right p {
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
}
