@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(257, 40%, 49%);
  background-image: url("./images/bg-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
}

a {
  color: bisque;
  text-decoration: none;
  font-weight: bold;
}

button {
  margin-top: 1rem;
  border: none;
  outline: none;
  padding: 0.8rem 3.2rem;
  border-radius: 25px;
  color: hsl(257, 40%, 49%);
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 1200px;
  margin: 2rem 4rem;
}

header img {
  width: 160px;
}

.content {
  width: 100%;
  display: flex;
  margin-top: 3.4rem;
}

.content .left img {
  width: 600px;
}

.content .right {
  max-width: 450px;
  font-family: "Poppins", sans-serif;
  margin: 2.8rem 2.5rem;
}

.content .right h1 {
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.content .right p {
  font-family: "Open Sans", sans-serif;
  opacity: 0.9;
}

.socials {
  text-align: end;
}

.socials i {
  border: 1.5px solid white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 12px;
}

footer {
  text-align: center;
  margin-top: 0.5rem;
}

@media screen and (max-width: 500px) {
  header img {
    margin: 2rem;
  }
  .container {
    width: 100%;
    max-width: 450px;
    margin: 1.3rem 0.2rem;
  }
  .content {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
  .content .left img {
    width: 350px;
    margin: 2rem 0.8rem;
  }
  .content .right {
    margin: 0 1rem;
  }
  .content .right h1 {
    font-size: 26px;
  }
  .content .right p {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .socials {
    text-align: center;
    margin: 3rem 0;
  }
}
